/*---------------GENERAL STYLES--------------*/

.menusColapso {
    margin-top: 75px;
}


/*---------------FINISH GENERAL STYLES--------------*/

margin-top: 75px !important .contenedor {
    border: solid 1px green;
}

.fila {
    border: solid 1px blue;
}

.colapsos {
    background-color: BurlyWood;
}

a h2 button.colorTitulo {
    color: seashell;
    font-weight: 600;
}

.colorTitulo1 {
    color: seashell;
    font-weight: 600;
}

.columna {
    border: solid 1px purple;
}

.columna0 {
    background: aquamarine;
    color: azure;
    padding: 20px;
    margin-bottom: 20px;
}

.columna1 {
    background: rgb(105, 124, 118);
    color: azure;
    padding: 20px;
    margin-bottom: 20px;
}

.columna2 {
    background: rgba(0, 140, 186, .5);
    color: azure;
    padding: 20px;
    margin-bottom: 20px;
}

.columna3 {
    background: violet;
    color: azure;
    padding: 20px;
    margin-bottom: 20px;
}

.columna4 {
    background: yellowgreen;
    color: azure;
    padding: 20px;
    margin-bottom: 20px;
}

body {
    background-image: url("../img/goku0.jpg");
    background-repeat: no-repeat;
    background-position: -32% 20%;
}

.caja {
    width: 400px;
    height: 200px;
    border: solid 1px red;
    background-image: url("../img/goku0.jpg");
    background-size: auto;
}

.caja2 {
    width: 400px;
    height: 200px;
    border: solid 1px #ff0000;
    background-image: url("../img/goku0.jpg");
    background-size: 300px 100px;
}

.caja3 {
    width: 400px;
    height: 200px;
    border: solid 1px red;
    background-image: url("../img/goku0.jpg");
    background-size: 300px 100px;
    background-repeat: no-repeat;
}

.caja4 {
    width: 400px;
    height: 200px;
    border: solid 1px red;
    background-image: url("../img/goku0.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.caja5 {
    width: 400px;
    height: 200px;
    border: solid 1px red;
    background-image: url("../img/goku0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.caja6 {
    width: 400px;
    height: 200px;
    border: solid 1px red;
    background-image: url("../img/goku0.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.caja7 {
    width: 400px;
    height: 200px;
    border: solid 1px red;
    background-image: url("../img/goku0.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.caja8 {
    width: 900px;
    height: 600px;
    border: solid 1px red;
    background-image: url("../img/goku0.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.thumb {
    margin: 10px;
    border: 5px solid #ddd;
    width: 150px;
}

.thumb:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, .5);
    width: 200px;
}

.polaroid {
    background-color: burlywood;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    opacity: .4;
}

.polaroid0 {
    background-color: burlywood;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    filter: blur(2px);
}

.polaroid1 {
    background-color: burlywood;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    filter: brightness(1.5);
}

.polaroid2 {
    background-color: burlywood;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    filter: brightness(0.5);
}

.polaroid3 {
    background-color: burlywood;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    filter: contrast(2);
}

.polaroid4 {
    background-color: burlywood;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    filter: grayscale(1);
}

.polaroid5 {
    background-color: burlywood;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    filter: invert(1);
}

.polaroid6 {
    background-color: burlywood;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    filter: saturate(5);
}

.polaroid7 {
    background-color: burlywood;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    filter: sepia(.5);
}

.polaroid8 {
    position: relative;
    background-color: burlywood;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.polaroid9 {
    background-color: burlywood;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    filter: sepia(.5);
}

.polaroid10 {
    background-color: burlywood;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    filter: sepia(.5);
    transform: rotate(50deg);
    transition: 1s;
}

.polaroid11 {
    background-color: burlywood;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    filter: sepia(.5);
    transition: 1s;
}

.polaroid12 {
    background-color: burlywood;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    filter: sepia(.5);
    transform: rotate(180deg);
    transition: 1s;
    transition-delay: 0.5s;
}

.polaroid13 {
    background-color: burlywood;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    filter: sepia(.5);
}

.cubo {
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: blueviolet;
    transition: width 2s, height 2s, transform 2s;
}

div.cubo:hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
    animation-name: cuboMamalon;
    animation-duration: 1.5s;
    animation-delay: .8s;
}

@keyframes cuboMamalon {
    0% {
        background-color: red;
    }
    25% {
        background-color: cornflowerblue;
    }
    50% {
        background-color: darkgreen;
    }
    75% {
        background-color: aquamarine;
    }
    100% {
        background-color: brown;
    }
}

@keyframes skew {
    0% {
        transform: skewX(20deg);
    }
    100% {
        transform: skewY(-20deg);
    }
}

.polaroid:hover {
    opacity: 1;
}

.polaroid0:hover {
    filter: blur(0);
}

.polaroid1:hover {
    filter: brightness(1);
}

.polaroid2:hover {
    filter: brightness(1);
}

.polaroid3:hover {
    filter: contrast(1);
}

.polaroid4:hover {
    filter: grayscale(0);
}

.polaroid5:hover {
    filter: invert(0);
}

.polaroid6:hover {
    filter: saturate(1);
}

.polaroid7:hover {
    filter: saturate(1);
}

div.polaroid9:hover {
    filter: sepia(1);
    transform: translate(10px, 20px);
}

div.polaroid10:hover {
    filter: sepia(1);
    transform: rotate(0deg);
}

div.polaroid11:hover {
    filter: sepia(1);
    transform: scale(1.2, 1.2);
}

div.polaroid12:hover {
    filter: sepia(1);
    transform: scale(1, 1);
    transform: rotate(0deg);
}

div.polaroid13:hover {
    filter: sepia(1);
    transition: width 1s, transform .3s;
    transition-delay: .3s;
    animation-name: skew;
    animation-iteration-count: 2;
    animation-duration: 1s;
}


/*
        Responsive Media queries
        */

@media screen and (max-width: 480px) {
    body {
        background: url('../img/texturas/robots.png');
    }
}

@media screen and (min-width: 481px) and (max-width: 760px) {
    body {
        background: url('../img/texturas/dark_wood.png');
    }
}

@media screen and (min-width: 761px) {
    body {
        background: url('../img/texturas/christmas-dark.png');
    }
}


/*Botones enlace*/

.boton {
    background: blue;
    color: rgba(22, 2, 2, 0.945);
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
}

.boton:hover {
    opacity: 0.8;
}


/*Ponerle íconos a la lista con life*/

ul li {
    font-size: 16px;
}

.icono-angular {
    font-size: 32px;
    color: red;
    margin-right: 2px;
}

.icono-libro {
    font-size: 32px;
    color: black;
    margin-right: 2px;
}

.icono-couch {
    font-size: 32px;
    color: black;
    margin-right: 2px;
}

.icono-git {
    font-size: 32px;
    color: orangered;
    margin-right: 2px;
}

.icono-github {
    font-size: 32px;
    color: purple;
    margin-right: 2px;
}

.icono-html {
    font-size: 32px;
    color: orangered;
    margin-right: 2px;
}

.icono-terminal {
    font-size: 32px;
    color: black;
    margin-right: 2px;
}

.icono-windows {
    font-size: 32px;
    color: #00a4ef;
    margin-right: 2px;
}

.icono-css3 {
    font-size: 32px;
    color: greenyellow;
    margin-right: 2px;
}

.icono-sass {
    font-size: 32px;
    color: pink;
    margin-right: 2px;
}

.icono-bootstrap {
    font-size: 32px;
    color: purple;
    margin-right: 2px;
}

.icono-js {
    font-size: 32px;
    color: #FFD662;
    margin-right: 2px;
}

.icono-ux {
    font-size: 32px;
    color: green;
    margin-right: 2px;
}

.icono-marketing {
    font-size: 32px;
    color: GoldenRod;
    margin-right: 2px;
}

.icono-marketing {
    font-size: 32px;
    color: GoldenRod;
    margin-right: 2px;
}

.icono-design {
    font-size: 32px;
    color: lightgreen;
    margin-right: 2px;
}

.icono-business {
    font-size: 32px;
    color: PaleGoldenRod;
    margin-right: 2px;
}

.icono-canada {
    font-size: 32px;
    color: red;
    margin-right: 2px;
}


/*FINAL: Ponerle íconos a la lista con life*/


/*TIPOGRAFÍAS INICIO*/

@font-face {
    font-family: 'Indie Flower';
    src: url('../fonts/IndieFlower-Regular.ttf');
}

@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript-Regular.ttf');
}


/*
Si usas el todo lo que sea BOLD. semibold, mdium etc de los archivos de la tipografía, solo son 1 o 2 px más grandes, no es la gran cosa

@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript-Medium.ttf');
}

@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript-SemiBold.ttf');
}

@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript-Bold.ttf');
}
*/

h1 {
    font-family: 'Indie Flower', cursive;
    color: wheat;
}

h2 {
    font-family: 'Indie Flower';
    color: darkslategrey;
    font-weight: 600;
}

a,
label {
    font-family: 'Indie Flower';
    color: darkblue;
    font-weight: 600;
}

p.indieFlower {
    font-family: 'Indie Flower', cursive;
}

h1.uno {
    font-family: 'Dancing Script', cursive;
}

p.dancingScript {
    font-family: 'Dancing Script', cursive;
}

h1.dos {
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
}

p.dancingScriptMedium {
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
}

h1.dancingScriptSemiBold,
p.dancingScriptSemiBold {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
}

h1.dancingScriptBold,
p.dancingScriptBold {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}


/*
h1.dancingScriptBold p.dancingScriptBold {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}
*/


/*TIPOGRAFÍAS FINAL*/


/*Estilos generales*/

.espacio-codigo0 {
    margin-left: 5px;
}

.espacio-codigo1 {
    margin-left: 15px;
}

.espacio-codigo2 {
    margin-left: 25px;
}

.espacio-codigo3 {
    margin-left: 35px;
}


/*Estilos generales FINAL*/