*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
}

.logo{
    max-width: 5rem;
}

.nav-list{
    display: flex;
    list-style-type: none;
    gap: 1rem; /*Para separar los items entre si*/
}