/*              GENERALS            */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
}

@font-face {
    font-family: 'Pangolin', cursive;
    src: url(Pangolin-Regular.ttf);
}

header {
    background-color: darkblue;
}

nav {
    border: solid 1px red;
    display: flex;
}

.logo {
    border: 1px solid blue;
    width: 25%;
    display: flex;
    justify-content: center;
}

img {
    border: solid 1px orange;
}

.submenu {
    border: 1px solid green;
    width: 75%;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style-type: none;
    /*
    border: 1px solid brown;
    */
    margin-top: 35px;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Pangolin', cursive;
    color: white;
}


/*          EFECTO HOVER        */

li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: wheat;
    margin: auto;
    display: block;
}

li a:hover::after {
    width: 100%;
    transition: width 0.9s linear;
}


/*          IMAGEN PRINCIPAL        */

.imagen-principal {
    width: 100%;
    height: 500px;
    background-image: url('servidor.webp');
    background-size: 100% 100%;
}

.texto-imagen-principal {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-30%, -45%);
    color: white;
}


/*          Librería animate CSS    */

h1 .animate__animated.animate__bounce:hover {
    --animate-duration: 2s;
}