/*              GENERALS            */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
}

@font-face {
    font-family: 'Pangolin', cursive;
    src: url(Pangolin-Regular.ttf);
}

header {
    background-color: darkblue;
    
}

/*

*/

/*
.logo {
    border: 1px solid blue;
    width: 25%;
    display: flex;
    justify-content: center;
}
*/

.logo{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

img {
    border: solid 2px orange;
    border-radius: 30px;
}

.submenu {
    border: 2px solid green;
    width: 100%;
    align-items: center;
}

/*
ul {
    border: solid 1px yellow;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
*/

li {
    list-style-type: none;
    border: 1px solid brown;
    text-align: center;
    margin: 10px 0;
    padding: 13px 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Pangolin', cursive;
    color: white;
    border: 1px solid whitesmoke;
    padding: 10px;
    transition: transform 0.5s ease-in-out;
    display: inline-block;
    /*
    Los elementos inline, como los enlaces (<a>), 
    se comportan de manera que solo ocupan el espacio necesario para su contenido y
    no respetan propiedades como width, height, padding y transform como los elementos block o inline-block.
    Esto puede limitar la capacidad de aplicar ciertos estilos, "especialmente transformaciones".

    Al cambiar un elemento a inline-block, se comporta como un elemento inline (alineado en línea con el texto),
    pero también puede tener un ancho y alto definidos, respetar márgenes y padding, y aplicar transformaciones
    como transform. Esto te da más control sobre su apariencia y comportamiento sin cambiar su alineación en línea.
    
    */
}


/*          EFECTO HOVER        */

a:hover{
   transform: scale(1.5);
}

/*          Librería animate CSS    */

h1 .animate__animated.animate__bounce:hover {
    --animate-duration: 2s;
}


/*          Responsive Design    */

@media only screen and (min-width: 600px) {
    body {
        background-color: lightblue;
    }
    header{
        display: flex;
        
    }
    .logo{
        width: 30%;
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
    .submenu{
        width: 70%;
    }
    ul{
        display: flex;
        justify-content: space-around;
        height: 100%;
        align-items: center;
        border: 2px solid pink;
    }
}

