 :root{
            --yellow-color:#f7d71e;
            --dark-color:#222;
        }

.btn2{
    background-color: yellow;
}

.altColor{
    background-color: rebeccapurple;
}

.card{
    display: inline-block;
    background-color: var(--dark-color);
    color: var(--yellow-color);
}

.card figcaption{
    padding: 1rem;
}

.rotate-45{
    transform: rotate(45deg);
}

.rotate-135{
    transform: rotate(135deg);
}

.opacity-80{
    opacity: .8;
}

.sepia{
    filter: sepia(1);
}