* {
  padding: 0;
  margin: 0; }

body {
  background: orange;
  font-family: Arial; }

.contenedor {
  width: 700px;
  margin: 20px; }

header,
.main,
aside,
footer {
  padding: 20px; }

header {
  background: #0d2c44;
  color: #fff; }

.main {
  background: #fff;
  width: 64%;
  float: left; }

aside {
  background: #bb1f35;
  color: #fff;
  width: 30%;
  float: left; }

footer {
  clear: both;
  width: 100%;
  background: #0d2c44;
  color: #fff; }
