/*          ESTILOS GENERALES           */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.letraRoja {
    color: red;
}

section {
    width: 95%;
    height: 70vh;
    border: solid 2px red;
    display: flex;
}

div {
    width: 320px;
    height: 200px;
    border: solid 1px black;
}

.foto-uno {
    background-image: url('../img/batman.jpg');
    background-size: 100% 100%;
}

.foto-dos {
    background-image: url('../img/bill-gates.png');
    background-size: auto;
}

.foto-tres {
    background-image: url('../img/cristiano.jpg');
}

.foto-cuatro {
    background-image: url('../img/one-piece.jpe');
}

.cajaArticleUno {
    width: 100%;
    height: 40vh;
    border: solid burlywood 3px;
    background-image: url('../img/one-piece.jpe');
    background-size: 60%;
}

main {
    width: 95%;
    height: 50vh;
    border: solid 2px red;
    background-image: url('../img/bill-gates.png');
    background-size: 50% 33%;
}

.cajaArticleDos {
    width: 70%;
    height: 50vh;
    border: 3px solid black;
    background-image: url('../img/cristiano.jpg');
    background-size: 100% 100%;
}

.cajaArticleTres {
    width: 70%;
    height: 50vh;
    border: 3px solid rgb(253, 12, 12);
    background-image: url('../img/cristiano.jpg');
    background-size: 500px 300px;
}