/*          MObile first            */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    padding-inline-start: 0;
}

/*          ICONOS          */

/*Icono Menú Hamburguesa*/
nav{
    display: flex;
  /*  border:blue 1px solid;*/
    border-bottom: 2px grey;
}

.menu-hamburguer{
    width: 25%;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}

.fa-bars{
    color: gray;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.menu-icons{
    width: 75%;
    display: flex;
    /*border: 1px solid green;*/
    justify-content: space-around;
}

/*Icono Lupa Search*/
.fa-magnifying-glass{
    color: gray;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Icono chat*/
.fa-comment{
    color: gray;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.insignia-chat{
    color: #fff;
    background-color: #dc3545;
    display: inline-block;
    padding: .25em .4em;
    font-size: 65%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    position: absolute;
    top: 10px;
    right: 150px;
}

/*Icono  campana*/
.fa-bell{
    color: gray;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.notificaciones{
    color: #fff;
    background-color: rgba(255, 255, 0, 0.685);
    display: inline-block;
    padding: .25em .4em;
    font-size: 65%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    position: absolute;
    top: 10px;
    right: 100px;
}

/*Icono Pantalla completa*/
.fa-maximize{
    color: grey;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Icono cuadrados*/
.fa-table-cells-large{
    color: gray;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*          Seccion principal           */
.principal-section{
    background-color: rgb(230, 244, 245);
}

.header-1 h1{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.menu-dashboard{
    display: flex;
}

.menu-dashboard li{
    margin-left: 15px;
}

.menu-dashboard li.separacion::before{
    content: "/";
    margin-right: 10px;
    color: grey;
}
