*{
    margin: 0;
    box-sizing: border-box;
}

.img{
    width: 200px;
    height: 200px;

    display: block;
    margin: 2rem;

    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 6px;

}

.juan-pis{
    border: 5px solid red;
    position: relative;
    top: 350px;
    z-index: 1;
}

.puma{
    border: 5px solid blue;
    position: relative;
    top:350px
}

.php{
    border: 5px solid green;
    position: relative;
}

.guion-bajo{
    text-decoration: underline;
    color: red;
}
.parent{
    width: 90%;
    height: 300px;
    border: 4px solid black;
    margin: 50px auto;
    /*position absolute*/
    
}

.absolute{
    width: 100px;
    height: 100px;
    background-color: crimson;
    color: white;
    text-align: center;
    position: absolute;
    /*al usar el top:0 se posiciona en el padre que tenga algo diferente
    a posicion:static */
    top: 0;
}

