*{
    margin: 0;
    box-sizing: border-box;
}

.img{
    width: 300px;
    height: 300px;

    display: block;
    margin: 4rem;

    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 6px;
}

.relative{
    border: 5px solid red;
}