*{
    margin: 0;
    box-sizing: border-box;
}

.img{
    width: 200px;
    height: 200px;

    display: block;
    margin: 2rem;

    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 6px;

}

.juan-pis{
    border: 5px solid red;
    position: relative;
    top: 350px;
    z-index: 1;
}

.puma{
    border: 5px solid blue;
    position: relative;
    top:350px
}

.php{
    border: 5px solid green;
    position: relative;
}

.guion-bajo{
    text-decoration: underline;
    color: red;
}