/*  GENERAL STYLES  */
*{
    margin: 0;
}

body{
    background-color: #313131;
    font-family: "Minecraft","Noto Sans", sans-serif;
}
 
@font-face {
  font-family: 'Minecraft';
  src: url('../webfonts/Minecraft.otf') ;
  font-weight: normal;
  font-style: normal;
}


/*  HEADER  */

header{
    border: 1px red solid;
    background-color: #313131;
}

nav{
    border: 1px blue solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
}

h2 > a{
    color: green;
    text-decoration: none;
    font-family: "Minecraft", sans-serif;
    animation: pulseScale 1.7s infinite;
    display: block;
}

@keyframes pulseScale {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

ul{
    padding-inline-start: 0;
    list-style-type: none;
}

header> ul > li {
    color: rgb(216, 194, 165);
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: white 1px solid;
    padding: 12px 0 12px 0;
    position: relative;
}

header > ul > li > a{
    text-decoration: none;
    color: white;
    margin-left: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header> ul > li:hover{
    transform: scale(1,1.8);
    transition: .5s;
}


/*  HEADER RESPONSIVE DESIGN    */
@media only screen and (min-width: 600px) {
    header{
        display: flex;
    }

    header> ul > li {
        color: rgb(216, 194, 165);
        font-weight: 900;
    }

    header > ul > li > a > div{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav{
        width: 49%;
    }
    ul{
        display: flex;
        border: 1px solid yellow;
        width: 49%;
        justify-content: space-around;
    }
}

/*      SECCION 1 Card 1*/

section{
    background-color: rgb(34, 32, 32);
    display: flex;
    justify-content: center;
}

.card-1{
    margin-top: 15px;
    max-width: 280px;
    border-left: black 5px solid;
    border-top: grey 5px solid;
    border-right: gray 5px solid;
    border-bottom: black 5px solid;
}

.card-1 h2{
    color: white;
    padding: 0 10px;
}

.card-1 p{
    color: white;
    padding: 10px;
}

.caja-img-1{
    background-image: url('../images/minecraft-ja.jpg');
    background-size: 100% 100%;
    height: 150px;
    margin: 10px;
}

.caja-img-texto-1{
    margin-top: 20px;
}