/*  GENERAL STYLES  */
*{
    margin: 0;
}

body{
    background-color: gray;
}

/*  HEADER  */

header{
    border: 1px red solid;
}

nav{
    border: 1px blue solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 > a{
    color: green;
    text-decoration: none;
}