header {
    height: 100px;
    background-color: steelblue;
}

header nav div img {
    height: 50px;
}

ul {
    list-style: none;
    border: solid 1px yellowgreen;
}

ul li {
    border: tomato solid 1px;
    display: inline-block;
}