.hidden-file-input {
    display: none;
}

.custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: 2px solid #007BFF;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.custom-file-label:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

